.containt {
    position: relative;
    width: 100%;
    min-height: 45vw;
    overflow: hidden;
    
}

.panelInfo {
    position: absolute;
    width: 100vw;
    min-height: 45vw;
    overflow: hidden;
}

.background {
    background-image: url('../Images/bghome.png');
    background-size: cover;
    background-repeat: no-repeat no-repeat;
}

.panelInfo > .contentInfo {
    position: absolute;
    width: 100vw;
    min-height: 45vw;
    color: #FFF;
}

@media only screen and (max-width: 600px) { 
    .containt {
        position: relative;
        width: 100%;
        min-height: 100vh;
        overflow: hidden;
    }

    .panelInfo {
        position: absolute;
        width: 100vw;
        min-height: 100vh;
        overflow: hidden;
    }

    .background {
        background-image: url('../Images/bghome.png');
        background-size: cover;
        background-repeat: no-repeat no-repeat;
    }

    .panelInfo > .contentInfo {
        position: absolute;
        width: 100vw;
        min-height: 100vh;
        color: #FFF;
    }
    .descripcion {
        width: 96% !important;
        position: absolute;
        top: 8%;
        transform: translateY(-50%);
        text-align: center;
        right: 5%;
    }

}

.descripcion {
    width: 30%;
    position: absolute;
    top: 1%;
    transform: translateY(-50%);
    text-align: center;
    right: 5%;
}

.panelInfo > img {
    width: 35%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.p1 {
    padding: 0;
    margin: 0 0 0 0;
    color: #fff;
    font-size: 16px;
}

.overlay-navigation {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: hsla(0, 0%, 0%, 0.8);
    transform: translateY(100%);
}

.overlay-slide-down {
    transform: translateY(100%)
}

.overlay-slide-up {
    transition: all .8s ease-in-out;
    transform: translateY(100%)
}

cardData,
cardData ul {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

nav ul {
    display: flex;
    list-style: none;
}

    nav ul li {
        flex-basis: 20%;
        justify-content: center;
        align-items: center;
        height: 100%;
        overflow: hidden;
        transform: translateY(-100%);
    }

nav li a {
    position: relative;
    top: 46%;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Work sans', sans-serif;
    font-weight: 300;
    letter-spacing: 4px;
    text-decoration: none;
    display: block;
    text-align: center;
    font-size: 0.9rem;
}

    nav li a:before {
        content: '';
        width: 70px;
        height: 2px;
        background-color: #fff;
        position: absolute;
        top: 50%;
        left: 0;
        z-index: 100;
        transform: translateX(-100%);
        opacity: 0;
        transition: all .2s linear;
    }

    nav li a:after {
        content: attr(data-content);
        font-size: 0.7rem;
        transition: all .2s linear;
        opacity: 0;
        position: absolute;
        z-index: 100;
        color: #fff;
        display: block;
        margin-right: auto;
        margin-left: auto;
        left: 0;
        right: 0;
        bottom: -50px;
        text-transform: none;
        font-family: 'Open sans', serif;
        font-weight: 300;
        font-style: italic;
        letter-spacing: 0;
    }

    nav li a:hover:before {
        transform: translateX(0);
        opacity: 1;
    }

    nav li a:hover:after {
        transform: translateY(15px);
        opacity: 1;
    }

nav li:nth-of-type(1) {
    background-color: #29363B
}

nav li:nth-of-type(2) {
    background-color: #EA495F
}

nav li:nth-of-type(3) {
    background-color: #F4837D
}

nav li:nth-of-type(4) {
    background-color: #FDCEA9
}

nav li:nth-of-type(5) {
    background-color: #99B998
}

/* div*/
.container .cardDataData {
    position: relative;
    border-radius: 10px;
}

.container .cardData .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f00;
    transition: 0.7s;
    z-index: 1;
}

.container .cardData:nth-child(1) .icon {
    background: #23366f;
}

.container .cardData:nth-child(2) .icon {
    background: #6eadd4;
}

.container .cardData:nth-child(3) .icon {
    background: #4aada9;
}


.container .cardData .icon .fa {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    transition: 0.7s;
    color: #fff;
}

.imgface {
    position: absolute;
    top: 27px;
    right: -17px;
    transform: translate(-50%, -50%);
    transition: 0.7s;
}

.pface {
    position: absolute;
    bottom: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.7s
}

.btn-face {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.7s;
}

svg {
    position: absolute;
    top: 5%;
    right: 5%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    transition: 0.7s;
    color: #fff;
}

.svgface {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.7s;
    color: #fff;
    font-size: 50px;
}

.container .cardData .face {
    width: 300px;
    height: 410px;
    transition: 0.5s;
}

    .container .cardData .face.face1 {
        position: relative;
        background: #333;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
        transform: translateY(400px);
    }

/*.container .cardData:hover .face.face1 {
    background: #ff0057;
    transform: translateY(800px);
}*/

.faceEfec {
    background: #ff0057;
    transform: translateY(800px);
}

.container .cardData .face.face1 .content {
    opacity: 1;
    transition: 0.5s;
}

.container .cardData:hover .face.face1 .content {
    opacity: 1;
}

.container .cardData .face.face1 .content i {
    max-width: 100px;
}

.container .cardData .face.face2 {
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 10px 10px rgba(0,0,0,0.8);
    transform: translateY(-10px);
}

.container .cardData:hover .face.face2 {
    transform: translateY(-10px;);
}

.container .cardData .face.face2 .content p {
    margin: 0;
    padding: 0;
    text-align: center;
    color: #414141;
}

.container .cardData .face.face2 .content h3 {
    margin: 0 0 10px 0;
    padding: 0;
    color: #fff;
    font-size: 24px;
    text-align: center;
    color: #414141;
}

.container a {
    text-decoration: none;
    color: #414141;
}
